<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4 class="header">{{answer.content}}</h4>
        <p>{{answer.notes}}</p>
        <hr>
        <p>{{answer.author}} <span id="right">{{answer.asked}}</span></p>
      </div>
    </div>
  </div>
</div>
