<div class="col s12 m7">

    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4 class="header">{{question.content}}</h4>
          <hr>
          <p>{{question.author}} <span id="right">{{question.asked}}</span></p>
        </div>
      </div>
    </div>
  
</div>
