<div class="col s12 m7">
  {{#link-to 'question' question.id}}
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4 class="header">Q: {{question.content}}</h4>
          <hr>
          <p>User Name: {{question.author}} <span id="right">Asked: {{question.asked}}</span></p>
        </div>
      </div>
    </div>
    {{/link-to}}
</div>
