<div class="col s12 m7">
  {{#link-to 'question' question.id}}
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header"><span class="red-text">Q:</span> {{question.content}}</h5>
          <div class="divider"></div>
          <div class="section">
            <p><span class="purple-text"><b>By:</b></span> {{question.author}} <span class="right"><span class="pink-text"><b>Asked:</b></span> {{question.asked}}</span></p>
          </div>
        </div>
      </div>
    </div>
    {{/link-to}}
</div>
