<div class="container">
  <h3 class="center-align thin">This is an Ember.js Q&A message board.  Ask a question about Ember.js or answer some questions you see on the site.  Feel free to rate answers as well!</h3>
  <div class="container">
    <div class="content col m6 flow-text">
      <p class="bold" ><b>Created by: Chris Clifford <a href="https://github.com/c1iff/message-board" class="right red-text">See code on github</a></b></p>

    </div>
  </div>
</div>
